.services{
   padding-top:var(--section-padding); 
   padding-bottom:var(--section-padding); 
}
.services .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .service-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .services .service-content .srv{
        flex-direction: column;
        text-align: center;
    } 
}
.services .service-content .srv i{
    color:var(--main-color);
    flex-basis: 60px;
}
.services .service-content .srv .text{
    flex: 1;
}
.services .service-content .srv .text h3{
    margin:0 0 20px;
}
.services .service-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .service-content .image{
    text-align: center;
    position: relative;
}
@media(max-width:1199px){
    .services .service-content .image{
        display: none;
    }
}
.services .service-content .image img{
    width: 300px;
    margin-top: 44px;
}
/* .services .service-content .image::before{
    content: '';
    position: absolute;
} */